/* Page Border */
#pageBorder > .border {
    position: fixed;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    top: 20px;
    left: 20px;
    border: 1px solid var(--eerie-black);
    border-radius: 10px;
    z-index: 2;
    pointer-events: none;
}

/* Top Nav Bar */
#pageBorder > .top-nav {
    position: fixed;
    top: 20px;
    width: 100vw;
    z-index: 10;
    height: 75px;
    padding: 10px 40px;
    pointer-events: auto;

}

#pageBorder > .top-nav > .nav-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border-bottom: 1px solid var(--eerie-black); */
}

#pageBorder > .top-nav > .nav-grid > .left {
    display: flex;
    align-items: center;
}

#pageBorder > .top-nav > .nav-grid > .left > p {
    padding: 10px;
    font-style: italic;
    font-size: 28px;
    user-select: none;
    color: var(--orange);
}

#pageBorder > .top-nav > .nav-grid > .left > p > span {
    color: var(--orange);
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

#pageBorder > .top-nav > .nav-grid > .left > p > span.down {
    animation: tracking-out-contract 0.5s forwards;
    pointer-events: none;
}

#pageBorder > .top-nav > .nav-grid > .left > p > span.up {
    animation: tracking-in-expand 0.5s forwards;
    pointer-events: all;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
}

#pageBorder > .top-nav > .nav-grid > .middle {
    width: 100%;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

#pageBorder > .top-nav > .nav-grid > .middle.down {
    opacity: 0;
    pointer-events: none;
}

#pageBorder > .top-nav > .nav-grid > .middle.up {
    opacity: 1;
    pointer-events: all;
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a {
    padding: 10px;
    width: 90px;
    text-align: center;
    color: var(--davy-grey);
    transition: color 250ms ease-in-out;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a:not(.active):hover {
    color: var(--arsenic-gray);
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a:not(.active):hover::after {
    transform: scale(1);
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a.active {
    color: var(--orange);
    border-bottom: none;
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a.active::after {
    transform: scale(1);transform: scale(1);
}

#pageBorder > .top-nav > .nav-grid > .middle > .nav-items > a.active {
    color: white;
    border-bottom: 1px var(--orange);
}

/* Bottom Nav Bar */
#pageBorder > .bottom-nav {
    position: fixed;
    bottom: 20px;
    width: 100vw;
    z-index: 10;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    pointer-events: auto;
}

#pageBorder > .bottom-nav > .social-icons {
    display: flex;
    gap: 20px;
}

#pageBorder > .bottom-nav > .social-icons > .icon * {
    color: var(--davy-grey);
    width: 25px;
    height: 25px;
    transition: color 150ms ease-in-out;
}

#pageBorder > .bottom-nav > .social-icons > .icon:hover * {
    color: var(--white);
}

#pageBorder > .bottom-nav > .scroll-top {
    cursor: pointer;
    transition: color 250ms ease-in-out;
    user-select: none;
}

#pageBorder > .bottom-nav > .scroll-top:hover {
    color: var(--orange);
}

@media only screen and (max-width: 425px) {
    #pageBorder > .border {
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        top: 10px;
        left: 10px;
    }

    #pageBorder > .top-nav {
        top: 10px;
        padding: 10px 25px;
    }

    #pageBorder > .bottom-nav {
        bottom: 10px;
        padding: 10px 25px;
    }
}
