/* Page Border */
#pageBorder > .border {
    position: fixed;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    top: 20px;
    left: 20px;
    border: 1px solid var(--eerie-black);
    border-radius: 10px;
    z-index: 2;
    pointer-events: none;
}

/* Top Nav Bar */
#pageBorder > .top-nav {
    position: fixed;
    top: 20px;
    width: 100vw;
    z-index: 10;
    height: 75px;
    padding: 1px 21px;
    pointer-events: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: z-index 250ms ease-in-out 0.5s;
}

#pageBorder > .top-nav > .nav-grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    z-index: 1;
    transition: all 250ms ease-in-out;
}

#pageBorder > .top-nav > .nav-grid.down::after{
    opacity: 0;
}

#pageBorder > .top-nav > .nav-grid.up::after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    pointer-events: none;
}

#pageBorder > .top-nav > .nav-grid > .left {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 99;
}

#pageBorder > .top-nav > .nav-grid > .left > p {
    padding: 10px;
    font-style: italic;
    font-size: 28px;
    user-select: none;
    color: var(--orange);
}

#pageBorder > .top-nav > .nav-grid > .left > p > span {
    color: var(--orange);
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

#pageBorder > .top-nav > .nav-grid > .left > p > span.down {
    animation: tracking-out-contract 0.5s forwards;
    pointer-events: none;
}

#pageBorder > .top-nav > .nav-grid > .left > p > span.up {
    animation: tracking-in-expand 0.5s forwards;
    pointer-events: all;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
}

#pageBorder > .top-nav > .nav-grid > .middle {
    position: relative;
    width: 100%;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#pageBorder > .top-nav > .nav-grid > .middle.down {
    opacity: 0;
    pointer-events: none;
}

#pageBorder > .top-nav > .nav-grid > .middle.up {
    opacity: 1;
    pointer-events: all;
}

#pageBorder .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#pageBorder .nav-items.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#pageBorder .nav-items > a{
    padding: 10px;
    width: 90px;
    text-align: center;
    color: var(--davy-grey);
    transition: color 250ms ease-in-out;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

#pageBorder .nav-items > a:not(.active):hover {
    color: var(--arsenic-gray);
}

#pageBorder .nav-items > a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

#pageBorder .nav-items > a:not(.active):hover::after {
    transform: scale(1);
}

#pageBorder .nav-items > a.active {
    color: var(--orange);
    border-bottom: none;
}

#pageBorder .nav-items > a.active::after {
    transform: scale(1);transform: scale(1);
}

#pageBorder .nav-items > a.active {
    color: white;
    border-bottom: 1px var(--orange);
}

#pageBorder > .top-nav > .nav-grid > .right{
    position: relative;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    z-index: 99;
    display: none;
}



/* Bottom Nav Bar */
#pageBorder > .bottom-nav {
    position: fixed;
    bottom: 20px;
    width: 100vw;
    z-index: 10;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    pointer-events: auto;
}

#pageBorder > .bottom-nav > .social-icons {
    display: flex;
    gap: 20px;
}

#pageBorder > .bottom-nav > .social-icons > .icon * {
    color: var(--davy-grey);
    width: 25px;
    height: 25px;
    transition: color 150ms ease-in-out;
}

#pageBorder > .bottom-nav > .social-icons > .icon:hover * {
    color: var(--white);
}

#pageBorder > .bottom-nav > .scroll-top {
    cursor: pointer;
    transition: color 250ms ease-in-out;
    user-select: none;
}

#pageBorder > .bottom-nav > .scroll-top:hover {
    color: var(--orange);
}

/* Mobile Nav */
#pageBorder > .mobile-nav{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    right: -100%;
    background-color: var(--dark-jungle-green);
    transition: all 0.5s ease-in-out;
    z-index: 90;
}

#pageBorder > .mobile-nav.open{
    right: 0;
}

#pageBorder > .mobile-nav.open + .top-nav{
    z-index: 99 !important;
    animation: reveal 1s ease-in-out forwards 0.6s;
}

#pageBorder > .mobile-nav.open + .nav-grid.up::after {
    background-color: none;
    content: "";
}



#pageBorder > .mobile-nav > .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
}

@media only screen and (max-width: 767px) {
    #pageBorder > .top-nav > .nav-grid > .middle{
        display: none;
    }

    #pageBorder > .top-nav > .nav-grid > .right{
        display: flex;
    }

    #pageBorder > .top-nav > .nav-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 425px) {
    #pageBorder > .border {
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        top: 10px;
        left: 10px;
    }

    #pageBorder > .top-nav {
        top: 10px;
    }

    #pageBorder > .bottom-nav {
        bottom: 10px;
        padding: 10px 25px;
    }
    
}
