@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

:root {
    --dark-grey: #121212;
    --davy-grey: #4a4a4a;
    --onyx: #3e3e3e;
    --jet: #333333;
    --eerie-black: #252525;
    --night: #131313;
    --lavender-mist: #e6ebf0;
    --light-gray: #f5f5f5;
    --gray: #d9d9d9;
    --dark-gray: #b1b3b6;
    --arsenic-gray: #636466;
    --dark-jungle-green: #232323;
    --black: #0a0a0a;
    --white: #fff;
    --grey-40: #565656;
    --grey-text: #c7c7c7;

    --light-blue: #d9ebe9;
    --muddy-green: #798f8c;

    --orange: #FFA500;
    --orange-dark: #634000;
    --orange-dark-low: #9b65003d;
    --light-font: 'Quicksand'
}


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'Anton';
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}
button:focus,
input:focus,
textarea:focus,
a:focus {
    outline: none;
}

input, textarea, button, select{
    font: inherit;
}

a{
    text-decoration: none;
}

body {
    background-color: var(--black);
}

*::-webkit-scrollbar{
    display: none;
}

*::-webkit-scrollbar-track{
    background-color: var(--dark-jungle-green);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
    border-radius: 20px;
}

#mainContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

@keyframes reveal{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}